body{
    background-color: #131114;
}

@font-face {
    font-family: 'Roboto', sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
}
#main{
    width: 70%;
    height: 80vh;
    background-color: white;
    margin: 5vh auto 0 auto;
    font-family: 'Roboto', sans-serif;

}

.retour{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.retour img{
    width: 40px;
    height: auto;
    margin-right: 30px;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.identification{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.8em;
    font-weight: bold;
}

.photo{
    height: 200px;
    width: 200px ;
    background-color: chartreuse;
    margin-right: 10px;
    margin-top: 10px;

}

.objets{
    width: 35%;
    margin: 100px auto;
}

.objets div{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-bottom: 10px;

}

.objets div label{
    margin-right: 10px;
}

@media screen and (max-width: 400px) {

    #main{
        width: 100%;
    }

    .head{
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .identification{
        margin :0 auto;
        margin-top: 10px;
        font-size: 1.3em;
        font-weight: bold;
    }

    .photo{
        background-color: chartreuse;
        margin: 20px auto;
        border-radius: 30px;
    }

    .objets{
        width: 100%;
        margin: 40px auto;
    }

}